*{
  margin:0;
  padding:0;
}
.main{
  width:100%px;
  height:auto;
  margin: 0 auto;
  display: inline-block;
  /*background-color: rgb(228, 6, 6);*/
  /*background:rgb(243, 0, 0);*/
  /*background-image: url("images/brick_background.jpg");*/
  background-color: rgb(255, 255, 255);
  min-height: 2000px;
  margin:0 auto;
}
.container{
  width:1000px;
  height:auto;
  margin: 0 auto;
}
.topbar{
  width:100%;
  height:8px;
  background-color:rgb(151, 15, 15);
}
.social_icon{
  width:100%;
  height:40px;
  background-color: black;
  float:left;
}
.icons{
  width:350px;
  height:13px;
  font-size:16px;
  line-height:2em;
  padding-top:2px;
  float:left;
  font-size:2em;
  line-height:44px;
  }
#insta:hover img{
  transform: scale(1.3);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#fb:hover img{
  transform: scale(1.3);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#gmail:hover img{
  transform: scale(1.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#twitter:hover img{
  transform: scale(1.3);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#youtube:hover img{
  transform: scale(1.3);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.login_register_btn{
  width: 150px;
  height:33px;
  float:left;
}
.header_right{
  width: 250px;
  height:auto;
  float:right;
}
.login_register_btn a{
  display:block;
  color:white;
  text-decoration:none;
  float:left;
  line-height: 33px;
  padding-right: 3px;
  width:50px;
}
.cart_btn{
  width:100px;
  height:50px;
  background-color:rgb(151, 15, 15);
  float:right;
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
}
.cart_btn img{
 margin:-5px;
 padding: 6px;
 float:left;
}
/*.cart_btn:hover img{
  transform: scale(1.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}*/
.cart_btn {
  line-height: 50px;
  height:50px;
  color:white;
}
.header{
 width:100%;
 height:100px;
 float:left;
 padding-top:10px;  
}
.logo{
 width:200px;
 height:auto;
 float:left;
}
.navbar{
  width:800px;
  float:left;
  text-align:right;
  padding-top: 65px;
  font-size: 20px;
}
.navbar a{
  display:inline-block;
  color:black;
  padding: 0 10px;
  text-decoration:none;
  font-weight: bold;
}
.slider{
  width:100%;
  height:auto;
  float:left;
  padding-top:40px;
}
.slideshow{
  width:1000px;
  height:auto;
  border:4px solid;
}
.slideshow img{
  width: 100%;
  height:auto;
}
.center{
  position: relative;
  left: 0;
  top: 0;
  z-index: 1000;
  margin-top: -380px;
  margin-right: -8px;
}
.center img{
  width:80%;
  padding:10px;
}
.center #prev{
  float:right;
}
.center #next{
  float:left;
}
.center #prev,
.center #next{
  width:90px;
  height:90px;
  background-color: rgba(255, 255, 255, 0.445);
  text-decoration-color: none;
  text-align: center;
  line-height: 90px;
  border-radius: 100px;
  opacity: 0.5;
  border:1px solid black;
}
.center #prev:hover,
.center #next:hover{
  opacity:1;
}
.welcome_text{
  width:100%;
  height:auto;
  margin-top:-1100px;
  text-align: center;
}
.welcome_text h1{
  font-weight: bold;
  color: rgb(0, 0, 0);
}
.welcome_text h1 span{
  background-color: rgb(221, 31, 18);
}
 .event_section{
  width:100%;
  height:auto;
  margin-top:20px;
  float:left;
}
.event_section .event_one{
  width:280px;
  height:auto;
  padding: 24px 10px;
  background-color: rgb(0, 0, 0) ;
  border-radius: 7px;
  position: absolute; 
  color:rgb(255, 255, 255);
  margin-top: 8px;
}
 .event_section .event_two{
  width:280px;
  height:auto;
  padding: 15px 10px;
  background-color: rgb(221, 31, 18);
  border-radius: 7px;
  resize:none;
  position: absolute;
  right:606px;
  color:black;
  margin-top: 8px;
}
.event_section .event_three{
  width:280px;
  height:auto;
  padding: 15px 10px;
  background-color: rgb(0, 0, 0) ;
  border-radius: 7px;
  resize:none;
  position: absolute;
  right:250px;
  color:rgb(255, 255, 255);
  margin-top: 8px;
}
.event_section .event_one h3,
.event_section .event_two h3,
.event_section .event_three h3{
  font-size:16px;
  margin-bottom: 2px;
}
.event_section .event_one p,
.event_section .event_two p,
.event_section .event_three p{
  font-size:14px;
}
.event_section .event_two{
  background-color:  rgb(221, 31, 18);
}
.event_section .event_three{
  background-color: black;
}
.event_one h3{
  text-align: center;
}
.event_two h3{
  text-align: center;
}
.event_three h3{
  text-align: center;
}
.product_section_title{
padding-top: 170px;
width: 100%;
display: inline-block;
font-size: 15px;
font-weight: bold;
} 
.product_one{
  width: 280px;
  height: auto;
  padding-top: 20px;
}
.product_img{
  width: 280px;
}
.product_img img{
  width:100%;
  border: 1px solid;
  border-radius: 7px;
}
.product_text{
margin-top:5px;
width:280px;
}
.product_text h4 i{
  font-weight:normal;
}
.star_rating img{
  padding-top: 10px;
  width: 21px;
}
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}
.popup .popuptext {
  visibility: hidden;
  width: 280px;
  /* background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  /* padding: 8px 0; */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%; */
 
}
.popup .popuptext::after {
  position: absolute;
  top: 100%;
  left: 50%;
  border-width: 5px; 
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}








